/* game */

.mainCanvas {
    position: absolute;
    top: calc( calc(100% - 640px) / 2);
    left: calc( calc(100% - 1280px) / 2);
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    border: 2px solid #EEEEEE;
}

/* editor */

.editorBody {
    overflow: hidden;
    box-sizing: border-box;
}

.editorSpritePaletteCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 192px;
    height: calc(100% - 192px);
    border-right: 1px solid #333333;
}

.editorMapCanvas {
    position: absolute;
    left: 193px;
    top: 0px;
    width: calc(100% - 230px);
    height: calc(100% - 193px);
}

.editorTilePaletteCanvas {
    position: absolute;
    left: 0px;
    top: calc(100% - 192px);
    width: 100%;
    height: 192px;
    border-top: 1px solid #333333;
}

.editorToolBar {
    position: absolute;
    top: 0px;
    left: calc(100% - 37px);
    width: 36px;
    height: calc(100% - 192px);
    background-color: #AAAAAA;
    border-left: 1px solid #333333;
}

.editorToolButton {
    width: 34px;
    height: 34px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #9999DD;
    background-color: #AAAAFF;
}

.editorToolButton:hover {
    background-color: #CCCCFF;
}

.editorFade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
    z-index: 100;
}

.editorInfo {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 155px);
    width: 600px;
    height: 310px;
    font-family: 'Arial';
    font-size: 12pt;
    border: 1px solid #000000;
    background-color: #CCCCCC;
    padding: 2px;
    box-shadow: 3px 3px 3px #000000;
    z-index: 101;
}

.editorInfoTable {
    table-layout: fixed;
    width:100%;
}

.editorInfoTableNameCol {
    width: 200px;
    padding-left: 4px;
    background-color: #9999DD;
}

.editorInfoTableValueCol {
    width: 385px;
    padding-left: 4px;
    background-color: #9999DD;
}

.editorInfoNameInput {
    width: 195px;
    font-family: 'Arial';
    font-size: 10pt;
}

.editorInfoValueInput {
    width: 380px;
    font-family: 'Arial';
    font-size: 10pt;
}

.editorInfoButtonOk, .editorInfoButtonCancel {
    position: absolute;
    top: calc(100% - 35px);
    width: 78px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Arial';
    font-size: 14pt;
    cursor: pointer;
    border: 1px solid #9999DD;
    background-color: #AAAAFF;
}

.editorInfoButtonOk {
    left: calc(100% - 170px);
}

.editorInfoButtonCancel {
    left: calc(100% - 85px);
}

.editorInfoButton:hover, .editorInfoButtonCancel:hover {
    background-color: #CCCCFF;
}
